<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Dashboard</title>
	<meta name="description" content="" />
	<!-- viewport makes the site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- CSS -->
	<!-- By convention, all the static files should go to the static folder-->
	<link rel="stylesheet" href="../static/css/style.css" />
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
	{% block head %}
	{% endblock head %}
</head>

<!-- Body content -->

<body>
	{% block body %}
	{% endblock body %}
</body>

</html>